<%- if controller_name != 'sessions' %>
  <h3 class="p-2 text-center">
    <strong>既に登録がお済みの方</strong>
  </h3>
  <h5 class="text-center">
    <strong><%= link_to "こちら", new_session_path(resource_name) %></strong> からログインしてください。
  </h5>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <h3 class="p-2 text-center">
    <strong>登録がお済みでない方</strong>
  </h3>
  <h5 class="text-center">
    <strong><%= link_to "こちら", new_registration_path(resource_name) %></strong> から登録してください。
  </h5>
<% end %>