<div class="container p-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1>〜〜運動日誌はこんなサイトです〜〜</h1>
      <p>
        年齢が進むにつれて運動不足になっていませんか？<br>
        身体を動かしたい！運動したい！そう思いながらもきっかけがなくて動けずにいませんか？<br>
        そんな方に向けて、60代向けのSNSを開設しました。<br>
      </p>
    </div>
  </div>
</div>