<div class="container p-5">
  <div class="row pt-5 pb-5" style="background-color: #f0fff0; border-radius: 10px;">
    <div class="col-md-9 mx-auto">
      <h1 class="pb-4"><strong>My Diaryとは・・・</strong></h1>
      <h5>あなたはこんな経験ありませんか？</h5><br>
      <h4 class="text-danger">やりたいことがあるのに行動できない。行動は出来ても継続できない。</h4><br>
      <h5>そんな方に向けて</h5>
      <h3 class="p-4">
        <strong>
          <i class="fa-solid fa-square-check" style="color: #2ec224;"></i> 記録<br>
          <i class="fa-solid fa-square-check" style="color: #2ec224;"></i> 投稿<br>
          <i class="fa-solid fa-square-check" style="color: #2ec224;"></i> チャット
        </strong>
      </h3>
      <h5>
        上記3つの機能を活用して運動と交流ができるサイトです！<br>
        ぜひ、ご利用ください。
      </h5>
    </div>
  </div>
</div>