<div class="container p-5">
  <div class="row">
    <div class="col-9 mx-auto">
      <h1 class="pb-4"><strong>運動日誌とは・・・</strong></h1>
      <h5>あなたはこんな経験ありませんか？</h5><br>
      <h4 class="text-danger">運動したいのに継続できない。やりたいことがあるのに行動できない。</h4><br>
      <h5>そんな方に向けて</h5>
      <h3 class="p-4">
        <strong>
          <i class="fa-solid fa-square-check" style="color: #2ec224;"></i> 記録<br>
          <i class="fa-solid fa-square-check" style="color: #2ec224;"></i> 投稿<br>
          <i class="fa-solid fa-square-check" style="color: #2ec224;"></i> チャット
        </strong>
      </h3>
      <h5>
        上記3つの機能を活用して運動と交流ができるサイトです！<br>
        ぜひ、ご利用ください。
      </h5>
    </div>
    <div class="col-12 text-center pt-4">
      <%= image_tag 'running.jpg', size: '700x450' %>
    </div>
  </div>
</div>