<div class="container p-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1 class="pb-4"><strong>運動日誌とは・・・</strong></h1>
      <p>
        あなたはこんな経験ありませんか？<br>
        <h5 class="text-danger">運動したいのに継続できない。やりたいことがあるのに行動できない。</h5><br>
        ここは、運動の継続やきっかけ作りになるように日々の運動を記録するためのサイトです。<br>
        また、チャット機能を使って他の人と運動の共有ができます。人との交流が減っている方、誰かと話したい方はチャット機能をご利用ください。<br>
      </p>
      <%= image_tag 'running.jpg', size: '700x450' %>
    </div>
  </div>
</div>