<div class="container p-5">
  <div class="row">
    <div class="col-5 mx-auto">
      <h1 class="text-center">60代向けSNS 運動日誌</h1>
      <p class="text-left">
        運動不足になりがちな退職後の60代に向けての運動記録サイトです。
        また、同じ様に運動をしているユーザ同士が投稿機能を使って交流できるのが特徴です。<br>
        60代でSNSに慣れていない方でも使いやすい設計です。
      </p>
    </div>
  </div>
</div>
