<div class="container p-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1><strong>会員一覧</strong></h1>
    </div>
    <div class="col">
      <table class="table border border-dark">
        <thead class="bg-dark text-light">
          <th>会員氏名</th>
          <th>自己紹介文</th>
          <th>会員ステータス</th>
        </thead>
        <tbody>
          <% @end_users.each do |end_user| %>
            <% if end_user.nick_name != "guestuser" %>
              <tr>
                <td class="border-dark" width="150">
                  <%= link_to end_user.nick_name, admin_end_user_path(end_user) %>
                </td>
                <td class="border-dark" width="600">
                  <%= end_user.introduction %>
                </td>
                <td class="border-dark text-center" width="150">
                  <% if end_user.is_deleted %>
                    退会
                  <% else %>
                    有効
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>