<div class="container p-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1><strong><%= @end_user.nick_name %>さんのプロフィール</strong></h1>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to '編集', edit_admin_end_user_path(@end_user), class: 'btn btn-success m-1' %>
      </div>
    </div>
    <div class="col">
      <%= render 'info', end_user: @end_user %>
    </div>
  </div>
</div>
