@use '~bootstrap/scss/bootstrap';

main {
    background-color: #f5f5f5;
}

header {
  background-color: #ffffe0;
}

footer {
  background-color: #ffffe0;
}

.pagination {
  justify-content: center;
}