@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Kosugi+Maru&family=Noto+Sans+JP:wght@300&family=Zen+Maru+Gothic&display=swap');

main {
  font-family: 'Zen Maru Gothic', sans-serif;
  background-image: url("../images/bg.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.pagination {
  justify-content: center;
}
// レスポンシブ対応記述中
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  body {
    .responsive table tr,
    .responsive table td {
      display: block;
    }
    .top-image {
      display: none;
      text-align: center;
    }
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  body {
    table .none {
      display: none;
    }
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  body {

  }
}